<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>🛡 AI Fraud Shield</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='Css/style.css') }}">
</head>

<body>

    <div class="container">

        <div class="header">
            <h1>🛡 AI Fraud Shield</h1>

            <p>
                Real-Time Credit Card Fraud Detection
            </p>
        </div>

        <form action="/predict" method="POST">

            <div class="grid">

                <input type="number" step="any"
                name="f1"
                placeholder="Time"
                required>

                <input type="number" step="any"
                name="f2"
                placeholder="V1"
                required>

                <input type="number" step="any"
                name="f3"
                placeholder="V2"
                required>

                <input type="number" step="any"
                name="f4"
                placeholder="V3"
                required>

                <input type="number" step="any"
                name="f5"
                placeholder="V4"
                required>

                <input type="number" step="any"
                name="f6"
                placeholder="V5"
                required>

                <input type="number" step="any"
                name="f7"
                placeholder="V6"
                required>

                <input type="number" step="any"
                name="f8"
                placeholder="V7"
                required>

                <input type="number" step="any"
                name="f9"
                placeholder="V8"
                required>

                <input type="number" step="any"
                name="f10"
                placeholder="V9"
                required>

                <input type="number" step="any"
                name="f11"
                placeholder="V10"
                required>

                <input type="number" step="any"
                name="f12"
                placeholder="V11"
                required>

                <input type="number" step="any"
                name="f13"
                placeholder="V12"
                required>

                <input type="number" step="any"
                name="f14"
                placeholder="V13"
                required>

                <input type="number" step="any"
                name="f15"
                placeholder="V14"
                required>

                <input type="number" step="any"
                name="f16"
                placeholder="V15"
                required>

                <input type="number" step="any"
                name="f17"
                placeholder="V16"
                required>

                <input type="number" step="any"
                name="f18"
                placeholder="V17"
                required>

                <input type="number" step="any"
                name="f19"
                placeholder="V18"
                required>

                <input type="number" step="any"
                name="f20"
                placeholder="V19"
                required>

                <input type="number" step="any"
                name="f21"
                placeholder="V20"
                required>

                <input type="number" step="any"
                name="f22"
                placeholder="V21"
                required>

                <input type="number" step="any"
                name="f23"
                placeholder="V22"
                required>

                <input type="number" step="any"
                name="f24"
                placeholder="V23"
                required>

                <input type="number" step="any"
                name="f25"
                placeholder="V24"
                required>

                <input type="number" step="any"
                name="f26"
                placeholder="V25"
                required>

                <input type="number" step="any"
                name="f27"
                placeholder="V26"
                required>

                <input type="number" step="any"
                name="f28"
                placeholder="V27"
                required>

                <input type="number" step="any"
                name="f29"
                placeholder="V28"
                required>

                <input type="number" step="any"
                name="f30"
                placeholder="Amount"
                required>

            </div>

            <button type="submit">
                🚀 Detect Fraud
            </button>

        </form>

        {% if prediction %}

        <div class="result
        {% if 'Fraud' in prediction %}
        fraud
        {% else %}
        safe
        {% endif %}">

            <h2>
                {{ prediction }}
            </h2>

        </div>

        {% endif %}

    </div>

</body>
</html>